<h1>Carrito de compras</h1>
<table class="table" class="cart">
    <thead>
        <tr class="hidden-column">
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @for (menu of carritoLista$ | async ; track menu.nombre )
        {
            <tr>
                <td><img [src]="menu.imagen" alt="{{ menu.nombre }}" class="menu-img"></td>
                <td>{{menu.nombre}}</td>
                <td>{{menu.cantidad}}</td>
                <td>
                    <button class="btn btn-primary" (click)="removeFromCarrito(menu)">Restar</button>
                </td>
                <td>{{ getTotalPrecio(menu) | currency }}</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-right"><strong>Total:</strong></td>
            <td><strong>{{ totalGeneral | currency  }}</strong></td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                <button class="btn btn-success" (click)="irAPagar()">Pagar</button>
            </td>
        </tr>
    </tbody>
    <ng-template #loading>
        <tr>
            <td colspan="4">Cargando...</td>
        </tr>
    </ng-template>
</table>
