footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    background-color: #e6ecf1; 
    color: #343a40; 
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

