img{
    padding: 5px;
    width: 150px;
}
.oferta{
    border: 2px solid greenyellow;
    background: lightgreen;
}

.table td{
    background: transparent;

}

.hidden-column {
    display: none;
}

.menu-img {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
}