<h1>Menú</h1>
<table class="table menu ">
    <thead>
        <tr class="hidden-column">
            <th>Imagen</th>
            <th>Nombre</th>
            <th class="hidden-column">Tipo</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Compra</th>

        </tr>
    </thead>
   
    <tbody>
        @for (menu of menus; let i = $index; track menu.nombre){
       
        @if(i === 0 || menu.tipo !== menus[i - 1].tipo){
        <tr> 
            <td colspan="7">
                <h2>{{getHeader(menu.tipo)}}</h2>
            </td>
        </tr>}        
        <tr [ngClass]="{'oferta': menu.oferta}" claas="menu-item">
            <td><img [src]="menu.imagen" alt="{{ menu.nombre }}" class="menu-img"></td>
            <td>{{menu.nombre}}</td>
            <td class="hidden-column">{{menu.tipo}}</td>
            <td>{{menu.precio | currency}}</td>
            <td>
                <app-input-integer [(cantidad)]="menu.cantidad"
                [max]="getStock(menu)"></app-input-integer>
            </td>

            @if (getStock(menu) === 0){
                <td><span class="badge text-bg-danger">Sin stock</span></td>
            }@else {
            <td>
                <button class="btn btn-primary" (click)="addToCarrito(menu)"  [disabled]="menu.cantidad === 0" >Agregar</button>
            </td>
            }
         </tr> 
        } @empty {
            <tr>
                <td colspan="4">No hay productos para mostrar</td>
            </tr>
        }
    </tbody>
</table>
 