<h1>Menú</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>

        </tr>
    </thead>
   
    <tbody>
        @for (pizza of pizzas; track pizza.nombre){
        <tr [ngClass]="{'oferta': pizza.oferta}">
            <td><img [src]="pizza.imagen" alt="{{ pizza.nombre }}"></td>
            <td>{{pizza.nombre}}</td>
            <td>{{pizza.tipo}}</td>
            <td>{{pizza.precio | currency}}</td>
            @if (getStock(pizza) === 0){
                <td><span class="badge text-bg-danger">Sin stock</span></td>
            }@else {
                {{getStock(pizza)}}
            }
            <td>
                <app-input-integer [(cantidad)]="pizza.cantidad"
                [max]="getStock(pizza)"></app-input-integer>
            </td>
            <td>               
                <button class="btn btn-primary" (click)="addToCarrito(pizza)">Agregar</button>
            </td>
         </tr> 
        } @empty {
            <tr>
                <td colspan="4">No hay pizzas para mostrar</td>
            </tr>
        }
    </tbody>
</table>
 