<h1>Menú</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>

        </tr>
    </thead>
    <tbody>
        @for (pizza of pizzas; track pizza.nombre){
        <tr>
            <td><img [src]="pizza.imagen" alt="{{ pizza.nombre }}"></td>
            <td>{{pizza.nombre}}</td>
            <td>{{pizza.tipo}}</td>
            <td>{{pizza.precio | currency}}</td>
            @if (pizza.stock == 0){
                <td class="badge text-bg-danger">Sin stock</td>
            }
         </tr> 
        } @empty {
            <tr>
                <td colspan="4">No hay cervezas para mostrar</td>
            </tr>
        }
    </tbody>
</table>
 